#solid{
    border: solid 2px black ;
    margin-bottom: 2px;
}
#solid1{
    border: solid 2px red ;
    margin-bottom: 2px;
}
#solid2{
    border: solid 2px black ;
    margin-bottom: 2px;
}